[Unit]
Description= Systemd service for discord bot
After=network.target

[Service]
User=USER
Restart=always
Type=simple
WorkingDirectory=/home/USER/telegram-discord-bridge
ExecStart=python3 -m pipenv run python3 discord_bot.py 

[Install]
WantedBy=multi-user.target

